.badge {
  display: flex;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;

  &__arrow {
    height: auto;

    &--large {
      width: 50px;
    }

    &--small {
      width: 42px;
    }
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  svg,
  img {
    max-height: 500px;
    width: auto;
  }
}