// src/components/Review/ProductVideos.tsx
.section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.title {
    font-size: 1.8rem;
    margin: 0;
    color: var(--text);
}