// src/components/Videos/VideoCard.module.scss
@use "../../styles/skeleton.module.scss";

.item {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &__preview {
        position: relative;
        border-radius: 14px;
        background: #111111;
        aspect-ratio: 7/12;
        overflow: hidden;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        &--placeholder {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            color: #aaa;
            font-size: 12px;
        }
    }

    &__views {
        position: absolute;
        left: 14px;
        bottom: 12px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.231372549);
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__viewsIcon {
        width: 14px;
        height: 14px;
        flex: 0 0 auto;
    }

    &__viewsText {
        display: inline-block;
    }

    &__title {
        padding: 6px 3px;
        color: var(--text);
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: left;
        gap: 6px;
    }
}
