// src/styles/default.module.scss
:root {
    --gap: 14px;
    // Navigation
    --nav-vw: 60px;

    @media (max-width: 768px) {
        --gap: 12px;
    }
}

.brand {
    padding: 0 20px;
    margin: 50px 0;
    height: clamp(20px, 50vw, 60px);
    display: flex;
    justify-content: center;

    @media (max-width: 756px) {
        height: clamp(20px, 50vw, 40px);
    }

    &__logo {
        width: 100%;
    }
}