// src/styles/default.module.scss
:root {
    --gap: 14px;
    // Navigation
    --nav-vw: 60px;

    @media (max-width: 768px) {
        --gap: 12px;
    }
}

.brand {
    padding: 0 20px;
    margin-bottom: 30px;
    height: clamp(30px, 50vw, 60px);
    display: flex;
    justify-content: center;

    &__logo {
        width: 100%;
    }
}