/* Sections */
.section {
    margin-top: 30px;
    display: grid;
    gap: 0;

    &__article {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px dashed var(--border);

        &:nth-last-child(1) {
            border: none;
        }
    }
}

.column {
    display: grid;
    gap: 20px;
}

.form {
    display: grid;
    gap: 12px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;

        &--title {
            margin: 0;
        }

        &--actions {
            display: flex;
            gap: 16px;

            svg {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
}

/* Badge with status */
.badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 400;
    background: var(--bg);
    border: 1px dashed var(--border);
}

.st_processing {
    color: #f1c40f;
    border-color: #665a18;
}

.st_shipped {
    color: #6c8cff;
    border-color: #283785;
}

.st_delivered {
    color: #2ecc71;
    border-color: #1a613d;
}

.st_cancelled {
    color: #ff6b6b;
    border-color: #5c1c1c;
}

.st_refunded {
    color: #ffd166;
    border-color: #8a6d1e;
}
/* End badge with status */