// src/styles/topbar.module.scss
.titlebase {
    color: var(--text);
    margin: 0;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 600;
}

.mastbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1.5rem 1.2rem 0;
    background: var(--bg);

    &__title {
        @extend .titlebase;
    }
}
