// src/styles/rating.module.scss
.rating {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__capture {
        display: flex;
        align-items: start;
        gap: 6px;
    }

    &__box {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 6px;
    }

    &__value {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 84px;
        font-weight: 400;
        height: 95px;
        border-radius: 14px;
        padding: 0 18px;

        &--small {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            font-weight: 400;
            height: 32px;
            border-radius: 5px;
            padding: 0 8px;
        }
    }

    &__count {
        font-size: 16px;

        &--small {
            font-size: 15px;
        }
    }
}