// src/styles/search.module.scss
@use "../styles/default_list.module.scss";

.skeleton {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 6px;
    display: block;
    color: var(--text);
    font-size: 0.95rem;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--bg-skeleton);
        animation: shimmer 1.2s infinite;
    }
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
