/* public/theme.css */



/* LIGHT (по умолчанию) */
:root,
:root[data-theme='light'],
html[data-theme='light'],
body[data-theme='light'] {
  --font: 'Roboto', sans-serif;

  --bg: #ffffff;
  --bg-card: #fcfcfc;
  --bg-blur: #ffffffcc;
  --bg-catalog-window: #ffffff;
  --bg-footer: #f9f9f9;

  --text: #1f1f1f;
  --text-secondary: #6b7280;
  --color-text-primary: #374151;
  --color-text-secondary: #1f1f1f;

  --color-link-primary: #414855;

  --border: #c4c4c4;
  --border-input: #cccccc;

  --red: #df5a91;

  /* UI Buttons */
  --text-button: #ffffff;
  --bg-button: #1f1f1f;
  /* END UI Buttons */

  --bg-transparent: #ffffffc2;
  --bg-hover-item: #f7f7f7;
  --bg-overlay: rgba(218, 218, 218, .2);

  --bg-range-track: #dddddd;
  --bg-range-thumb: #434343;
  --bg-range-fill: #999999;

  --cb-fill: #434343;
  --cb-disabled-bg: #f3f4f6;
  --cb-border-checked: #434343;

  --bg-arrow: #757575;
  --bg-dot: #eeeeee;

  --bg-star: #d1d5db;
  --bg-star-hover: #434343;
  --bg-star-active: #434343;

  /* из SettingsMenu (перенесли сюда) */
  --popover-border: rgba(0, 0, 0, .2);
  --btn-hover-bg: rgba(0, 0, 0, .06);
  --item-hover-bg: rgba(0, 0, 0, .06);

  --border-size-0_5: 0.5px;
  --border-size-1_0: 1px;

  --card-auth: rgba(248, 248, 248, .6);


  --background-color-input: 0 0 0 / .05;
  --background-color-tabs: #0000000a;
  --background-color-tab: linear-gradient(180deg, rgba(0 0 0 / .05), rgba(0 0 0 / .03));
  --color-tab-muted: 110 110 120;
  --color-tab-text: 31 31 31;

  /* Options */
  --option-border-color: #f2f2f2;
  --option-border-color-active: #e8edf0;

  --option-bg-color: #f2f2f2;
  --option-bg-color-active: #e8edf0;
  /* End Options */

  /* ReviewHistogram */
  --fill: #212121;
  --muted: #475569;
  --track: #e5e7eb;
  /* End ReviewHistogram */

  --text-muted: #6b7280;

  --bg-summary-checkout: #f7f7f7;

  /* Checkout Steps */
  --color-bg-index-step: #c4c4c4;
  --color-text-index-step: white;

  /* Cart */
  --color-bg-qty-btn: #e1e1e1;

  /* CounterBadge */
  --color-bg-counter-badge: #c9c9c9;

  /**/
  --color-border-checkbox: #ededed;
  --bg-checkbox: #d5d5d5;

  /* Toggle */
  --bg-toggle: transparent;
  --border-toggle: #c4c4c4;

  --color-toggle-accent: #22c55e;

  /* Breadcrumbs */
  --color-svg: #2c2c2c;


  /* Buttons UI */
  --btn-text: #ffffff;
  --btn-background: #1f1f1f;
  --btn-border: #1f1f1f;

  --btn-text-primary: #ffffff;
  --btn-text-secondary: #1f1f1f;
  --btn-text-ghost: #1f1f1f;
  --btn-text-link: #1f1f1f;

  --btn-background-primary: #1f1f1f;

  --btn-background-secondary: #f3f3f3;
  --btn-background-secondary-hover: #f3f3f3;

  --btn-background-danger: #b90000;
  --btn-background-danger-hover: #b90000;

  --btn-background-ghost: transparent;
  --btn-background-ghost-hover: #f3f3f3;
  /* End Buttons UI */

  /* Select UI */
  --select-option-selected: #0000000d;
  /* End Select UI */

  --bg-order-more: #f0f0f0;


  --bg-rating-value: #aaad7629;

  --category-card-bg: #f6f6f6;
  --category-card-bg-title: #efefef;

  --n-bg-desktop: white;

  /* Skeleton */
  --bg-skeleton: linear-gradient(90deg, transparent, rgba(54, 54, 54, 0.2), transparent);
  --bg-skeleton_v2: linear-gradient(90deg, #ededed 25%, #f6f6f6 37%, #ededed 63%);

  color-scheme: light;
}

/* DARK */
:root[data-theme='dark'],
html[data-theme='dark'],
body[data-theme='dark'] {
  --font: 'Roboto', sans-serif;

  --bg: #131313;
  --bg-card: #000000;
  --bg-blur: #131313cc;
  --bg-catalog-window: #0e0e0e;
  --bg-footer: #0c0c0c;

  --text: #c6c6c6;
  --text-secondary: #6b7280;
  --color-text-primary: #374151;
  --color-text-secondary: #4a545d;

  --color-link-primary: #414855;

  --border: #2f2f2f;
  --border-input: #2f2f2f;

  --red: #df5a91;

  /* UI Buttons */
  --text-button: #ffffff;
  --bg-button: #000000;
  /* END UI Buttons */

  --bg-transparent: #131313c2;
  --bg-hover-item: #1f1f1f;
  --bg-overlay: rgba(0, 0, 0, .5);

  --bg-range-track: #272727;
  --bg-range-thumb: #8a96ae;
  --bg-range-fill: #5b6774;

  --cb-fill: #8a96ae;
  --cb-disabled-bg: #f3f4f6;
  --cb-border-checked: #434343;

  --bg-arrow: #4f4f4f;
  --bg-dot: #8a96ae;

  --bg-star: #313131;
  --bg-star-hover: #ffffff;
  --bg-star-active: #8a96ae;

  --popover-border: #ffffff;
  --btn-hover-bg: rgba(255, 255, 255, .08);
  --item-hover-bg: rgba(255, 255, 255, .12);

  --border-size-0_5: 0.5px;
  --border-size-1_0: 1px;


  --card-auth: #0c0c0c;


  --background-color-input: 255 255 255 / .05;
  --background-color-tabs: #ffffff0a;
  --background-color-tab: linear-gradient(180deg, rgba(255 255 255 / .05), rgba(255 255 255 / .03));
  --color-tab-muted: 157 159 170;
  --color-tab-text: 255 255 255;

  /* Options */
  --option-border-color: #181a1b;
  --option-border-color-active: black;

  --option-bg-color: #181a1b;
  --option-bg-color-active: black;
  /* End Options */

  /* ReviewHistogram */
  --fill: #47597b;
  --muted: #94a3b8;
  --track: #1f2937;
  /* End ReviewHistogram */

  --text-muted: #6b7280;

  --bg-summary-checkout: #1f1f1f;

  /* Checkout Steps */
  --color-bg-index-step: #303030;
  --color-text-index-step: #979797;

  /* Cart */
  --color-bg-qty-btn: #303030;

  /* CounterBadge */
  --color-bg-counter-badge: #2f2f2f;

  /**/
  --color-border-checkbox: #2c2c2c;
  --bg-checkbox: #1f1f1f;

  /* Toggle */
  --bg-toggle: transparent;
  --border-toggle: #2f2f2f;

  --color-toggle-accent: #22c55e;

  /* Breadcrumbs */
  --color-svg: #4b4b4b;


  /* Buttons UI */
  --btn-text: #ffffff;
  --btn-background: #000000;
  --btn-border: #000000;

  --btn-text-primary: white;
  --btn-text-secondary: white;
  --btn-text-ghost: white;
  --btn-text-link: white;

  --btn-background-primary: #000000;

  --btn-background-secondary: #1b1b1b;
  --btn-background-secondary-hover: #1b1b1b;

  --btn-background-danger: #b90000;
  --btn-background-danger-hover: #b90000;

  --btn-background-ghost: transparent;
  --btn-background-ghost-hover: #1b1b1b;
  /* End Buttons UI */

  /* Select UI */
  --select-option-selected: #ffffff11;
  /* End Select UI */

  --bg-order-more: #000000;
  

  --bg-rating-value: #fdffd629;


  --category-card-bg: #1b1b1b;
  --category-card-bg-title: #161616;


  --n-bg-desktop: #0c0c0c;

  /* Skeleton */
  --bg-skeleton: linear-gradient(90deg, transparent, rgba(54, 54, 54, 0.2), transparent);
  --bg-skeleton_v2: linear-gradient(90deg, rgba(54, 54, 54, 0.2) 25%, rgb(20, 20, 20) 37%, rgba(54, 54, 54, 0.2) 63%);

  color-scheme: dark;
}