// src/components/UI/Carousel/Carousel.module.scss
$bp-md: 768px;
$bp-lg: 1024px;

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  &__header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--gap);

    &--title {
      font-size: 1.8rem;
      margin: 0;
      color: var(--text);
    }
  }

  &__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      border: none;
      background-color: transparent;
      cursor: pointer;

      svg {
        width: 1.6rem;
        height: 1.6rem;
        color: var(--text);
        pointer-events: none;
      }
    }
  }

  &__viewport {
    position: relative;
    display: flex;
    align-items: center;

    &--inner {
      overflow-x: auto;
      overflow-y: hidden;
      flex: 1 1 auto;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      overscroll-behavior-inline: contain;
      touch-action: pan-x pan-y;
      scroll-snap-type: x mandatory;

      /* ОТСТУПЫ СЛЕВА/СПРАВА + scroll-padding */
      padding-inline: var(--gap);
      scroll-padding-inline: var(--gap);

      &::-webkit-scrollbar {
        display: none;
      }

      --visible: 2.3;

      @media (min-width: $bp-md) {
        --visible: 3.3;
      }

      @media (min-width: $bp-lg) {
        --visible: 4.3;
      }
    }
  }

  &__track {
    display: flex;
    gap: var(--gap); // расстояние между карточками
  }

  &__slide {
    flex: 0 0 auto;

    /* ВАЖНО: тут именно (visible + 1) * gap */
    width: calc(
      (100% - (var(--visible) + 1) * var(--gap)) / var(--visible)
    );

    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
