.m {
    display: flex;
}

.avatarWrap {
    position: relative;
    width: 27px;
    height: 27px;
}

.baseAvatar {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
}

.placeholder {
    @extend .baseAvatar;
    width: 24px;
    height: 24px;
    border: 1px dashed var(--border);
}