.page {
    padding-top: 30px;
    padding-bottom: calc(60px + 1.2rem);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    margin-bottom: 30px;
    z-index: 3;

    &__main {
        display: flex;
        gap: 20px;
        align-items: center;

        &--title {
            margin: 0;
            font-size: 28px;
        }
    }
}