.badge {
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.topLine {
    font-size: 14px;
    font-weight: 400;
    color: #10b66f;
}


.bottomLine {
    font-size: 14px;
    font-weight: 300;
    color: #4b5563;
}
