// src/components/Product/ProductItemList.module.scss
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--gap) var(--gap);

  @media (max-width: $bp-lg) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: $bp-sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
