// src/components/Product/ProductCarousel.module.scss
@use "../../styles/default.module.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5rem;

  &__header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    &--title {
      font-size: 1.8rem;
      margin: 0;
      color: var(--text);
    }
  }
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
}

/* Scrollable viewport */
.trackWrapper {
  overflow-x: auto; // 🔑 enable horizontal scroll
  overflow-y: hidden;
  flex: 1 1 auto;
  scroll-behavior: smooth; // smooth for manual swipe too
  -webkit-overflow-scrolling: touch;

  /* Optional: hide native scrollbar */
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome / Safari / Edge
  }
}

.track {
  display: flex;
  gap: var(--gap);
  scroll-snap-type: x mandatory;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      width: 2rem;
      height: 2rem;
      color: var(--text);
      pointer-events: none;
    }
  }
}