@use "../../styles/scrollbar.module.scss" as scrollbar;

$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;

.productsMain {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 60px;
}

/* ====== Лэйаут ====== */
.productListPage {
  display: flex;
  flex-direction: row;
  gap: 40px;

  @media (max-width: $bp-md) {
    flex-direction: column;
    gap: 16px;
  }
}

.productListContent {
  width: 100%;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text);
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Actions */
.productListActions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 10px 0;
  margin: 12px 0;
  justify-content: space-between;

  @media (max-width: $bp-md) {
    background: var(--bg);
    padding: 8px 0;
    gap: 8px;
  }
}

/* обёртка селекта сортировки */
.sortWrap {
  @media screen and (max-width: 768px) {
    display: none;
  }
}