/* Корневой контейнер */
.root {
  position: relative;
  --img-size: 460px;
  --img-size-thumb-l: 104px;
  --img-size-thumb-s: 90px;
  --radius: 20px;
  --radius-s: 12px;
}

/* ============= КНОПКИ-МИНИАТЮРЫ (общие) ============= */
.thumbBtn {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;

  img {
    width: var(--img-size-thumb-l);
    height: var(--img-size-thumb-l);
    object-fit: cover;
    border-radius: var(--radius);
  }
}

.active img {
}

/* ============= ДЕСКТОП ============= */
.wrapperDesktop {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding-top: 1.5rem;
}

.thumbs {
  display: flex;
  flex-direction: column;
  max-height: var(--img-size);
  overflow-y: auto;
}

.main {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  /* обрезаем выступающие края */
  /* max-width: var(--img-size); */
  max-height: var(--img-size);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: var(--bg-wrapper-details-image);

  img {
    width: 100%;
    height: 100%;
    max-width: var(--img-size);
    max-height: var(--img-size);
    object-fit: contain;
    transition: transform 0.25s ease;
    user-select: none;
  }

  /* Зум ТОЛЬКО на устройствах с мышью */
  @media (hover: hover) and (pointer: fine) {

    img:hover,
    img:focus {
      transform: scale(2); // коэффициент зума
    }
  }
}

/* ============= МОБИЛЬНАЯ ВЕРСИЯ ============= */
/* по умолчанию мобильный блок скрыт — включаем только на узких экранах */
.wrapperMobile {
  display: none;
}

@media (max-width: 768px) {
  .wrapperDesktop {
    display: none;
  }

  .wrapperMobile {
    display: grid;
    position: relative;
    margin: 30px;
  }
}

/* горизонтальная карусель со snap */
.carousel {
  position: relative;

  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  background-color: white;
  border-radius: var(--radius);
  /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none;
}

/* WebKit */

.slide {
  flex: 0 0 100%;
  scroll-snap-align: center;
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  /* квадрат для аккуратной вьюшки */
  background: var(--surface, #fff);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  border-radius: 0;
  /* предотвращает «залипание» при свайпе */
}

/* миниатюры под каруселью — горизонтальный скролл */
.thumbsMobile {
  display: none;
  gap: 1px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  border-radius: 0;
  scrollbar-width: none;
}

.thumbsMobile::-webkit-scrollbar {
  display: none;
}

.thumbsMobile .thumbBtn img {
  width: var(--img-size-thumb-s);
  height: var(--img-size-thumb-s);
  border-radius: 0;
}