/* --- Форма --- */
:root {
    --star-bg: #d1d5db;
    --star-active: #434343;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 480px;
    padding-bottom: 20px;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    user-select: none;
}

.star {
    cursor: pointer;
    svg {
        fill: var(--bg-star);
    }
}

.active {
    svg {
        fill: var(--bg-star-active);
    }
}

.textareaContainer {
    display: flex;
    position: relative;
    width: 100%;
    margin-right: -0.5rem;
}

.textarea {
    padding: 12px 14px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--font);
    color: var(--text);
    border: 1px solid rgba(var(--border));
    background: rgba(var(--background-color-input));
    border-radius: 12px;
    resize: none;

    &:focus {
        outline: none;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}

.cancel {
    background-color: #f8f9fa;
    color: #6c757d;

    &:hover {
        background-color: #e9ecef;
    }
}