/* --------------------------------------------------------- */
/* ToggleViewSwitch.module.scss */
$transition-fast: 140ms;

.toolbar {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.viewSwitch {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.iconBtn {
    width: auto;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border: none;
    background: transparent;
    border-radius: none;
    color: var(--text);
    padding: 0;
    cursor: pointer;

    svg {
        width: 100%;
        stroke-width: 1.5;
    }
}

