@use "../../styles/scrollbar.module.scss" as scrollbar;

:root {
    --available-color: #4caf50;
    --not-available-color: #cb1762;
}

.productListPage {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 80px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 250px;
    background-color: var(--bg);

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 10px;
        max-height: 260px;
        overflow: auto;
        @include scrollbar.custom-scrollbar();

        li {
            margin-bottom: 5px;
        }
    }

    &__sublist {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 20px;
        margin-top: 5px;

        li {
            margin-bottom: 5px;
            color: var(--text-secondary);
            cursor: pointer;

            &:hover {
                color: var(--text);
            }
        }
    }

    &__item {
        font-size: 1rem;
        color: var(--text-secondary);
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
            color: var(--text);
        }
    }
}

.productListContent {
    width: 100%;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text);
    margin: 0;
}

.productsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.productList {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 30px;
}

.list {
    display: flex;
    flex-direction: column;
}

.productItem {
    display: flex;
    cursor: pointer;
}

.itemGrid {
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;
}

.itemList {
    flex-direction: row;
    /* картинка слева, детали справа */
    align-items: flex-start;
    border-right: none;
    /* в списке граница не нужна */
    padding: 20px 0;
    gap: 3rem;
    border-bottom: 1px dashed var(--border);

    &:nth-last-child(1) {
        border-bottom: none;
    }

    /* картинка поменьше, фикс. ширина */
    .productImage {
        max-width: 160px;
    }

    .productDetails {
        flex: 1;
    }

    /* название пусть переносится на 1 строку */
    .productName {
        margin: 0;
        -webkit-line-clamp: 1;
    }
}

.productImage {
    width: 100%;
    margin: 0 auto;
    height: auto;
    object-fit: cover;
}

.productDetails {
    padding: 12px;
}

.productName {
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    line-height: 1.2;
    margin-top: 0.8rem;
    margin-bottom: 0.25rem;
}

.available {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    font-size: 14px;
    color: var(--text);
}

.inStock {
    display: flex;
    background-color: var(--available-color);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.outOfStock {
    display: flex;
    background-color: var(--not-available-color);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.inStockText {
    color: var(--available-color);
}
.outOfStockText {
    color: var(--not-available-color);
}

.productPrice {
    font-weight: 300;
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 10px;
    color: var(--text);
}

/* Actions */
.productListActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 10px 0;
    margin: 20px 0;
}

.sortButton {
    display: none;
    max-width: 160px;
    border: 1px dashed var(--border);
    background-color: transparent;
    color: var(--text);
}

.filterContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.filterSection {
    &__sort {
       color: var(--text-secondary);

        li {
            font-size: 0.95rem;
            margin-bottom: 0.2rem;
            cursor: pointer;
        }
    }
}

.resetButton {
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}