// src/components/UI/ScrollArea/ScrollArea.module.scss
.s {
    width: 100%;
    overflow-y: auto;

    /* улучшения для мобильных */
    -webkit-overflow-scrolling: touch; // iOS momentum scroll
    overscroll-behavior-y: contain; // не «пробрасывать» скролл на body
}