// src/pages/Search/ModileSearchPage.module.scss
.page {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;

  height: 100dvh;                /* важно на мобилках */
  overscroll-behavior: none;     /* не «пробрасывать» на окно */
  background: var(--bg);
  color: var(--text);
}