:root {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --page-pad: 16px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  font-weight: 600;
}

p {
  color: var(--text);
}

html,
body,
#root {
  color: var(--text) !important;
  background-color: var(--bg) !important;
  height: 100%;
}

/* Ссылки наследуют цвет темы */
a {
  color: inherit;
}

/* Иконки берут текущий цвет текста */
svg {
  color: var(--text);
}

svg [stroke]:not([stroke="none"]) {
  stroke: currentColor !important;
}

svg [fill]:not([fill="none"]) {
  fill: currentColor !important;
}

html[data-theme='light'] {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}