.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    border: none;
    border-radius: 14px;
    letter-spacing: 0.1px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: var(--text-button);
    background-color: var(--bg-button);
    cursor: pointer;
}

.small {
    padding: 10px 24px;
}

.medium {
    padding: 14px 24px;
}

.large {
    padding: 14px 24px;
}