.topbar {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 1rem 1.2rem 0.5rem;
    z-index: 1;
    background-color: var(--n-bg-desktop);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &__panel {
        position: relative;

        &--icon {
            position: absolute;
            left: 14px;
            top: 50%;
            bottom: 0;
            width: 20px;
            height: 20px;
            transform: translate(0, -50%);
            opacity: 0.7;
        }

        &--input {
            padding: 0 14px;
            padding-left: 46px;
            height: 43px;
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            font-family: var(--font);
            border: none;
            background: rgba(var(--background-color-input));
            border-radius: 12px;
            transition: box-shadow .15s, border-color .15s;
            outline: none;
        }

        &--clear {
            position: absolute;
            right: 14px;
            top: 50%;
            bottom: 0;
            width: 18px;
            height: 18px;
            transform: translate(0, -50%);
            opacity: 0.7;
            cursor: pointer;
        }

    }

    &__meta {
        color: var(--text-secondary);
        font-size: 0.85rem;
        padding: 0 0.1rem;
    }
}