.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label {
    font-weight: 400;
    font-size: 14px;
}

.input {
    padding: 0 14px;
    height: 43px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--font);
    border: none;
    background: rgba(var(--background-color-input));
    border-radius: 12px;
    transition: box-shadow .15s, border-color .15s;
    outline: none;
}

.inputError {
    border-color: #ff6b6b;
    box-shadow: 0 0 0 4px #ff6b6b20;
}

.hint {
    color: rgb(var(--muted));
    font-size: 12px;
}

.error {
    color: #ff6b6b;
    font-size: 12px;
}